body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #0f172a;
    color: #e5e7eb;
}

.navbar {
    background-color: #1e1b4b;
}

.header {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(135deg, #312e81, #020617);
}

.section {
    padding: 60px 20px;
}

.card {
    background-color: #020617;
    border: 1px solid #312e81;
    color: white;
}

.footer {
    background-color: #020617;
    text-align: center;
    padding: 20px;
    color: #9ca3af;
}
